1. What are data structures, and why are they important?  
Data structures are specialized formats to organize, process, retrieve, and store data. They are important because they:

Help manage and access data efficiently.

Enable optimal algorithms (e.g., searching, sorting).

Improve performance and code clarity.

2. Explain the difference between mutable and immutable data types with examples.  
Mutable: Can be changed after creation.  
➤ Example: list, dict, set  
Immutable: Cannot be changed once created.  
➤ Example: int, str, tuple

3. What are the main differences between lists and tuples in Python?  
Feature	List ([])	Tuple (())
Mutability	Mutable	Immutable
Syntax	my_list = [1,2]	my_tuple = (1,2)
Performance	Slower	Faster (optimized)
Use case	Dynamic data	Fixed data (e.g., config)

4.  Describe how dictionaries store data.  
Dictionaries store data as key-value pairs using hashing.
Example:

In [5]:
student = {"name": "Arihant", "age": 20}

5. Why might you use a set instead of a list in Python?  
Use a set when:

You want unique values only.

You need fast membership checks.

6.  What is a string in Python, and how is it different from a list?  
A string is an immutable sequence of characters.
Differences:

Strings are immutable, lists are mutable.

Strings store characters, lists store any type.

7.
How do tuples ensure data integrity in Python?  
Tuples are immutable, meaning data can’t be changed after creation. This ensures:

No accidental modification

Safe as dictionary keys

8. What is a hash table, and how does it relate to dictionaries in Python?  
A hash table maps keys to values using a hash function.
Python dictionaries use hash tables internally to:

Provide O(1) average-time lookups

Store key-value data efficiently
9. Can lists contain different data types in Python?  
Yes. Lists can hold elements of mixed types:

In [6]:
my_list = [1, "hello", 3.14, True]

10. Explain why strings are immutable in Python.  
Strings are immutable to:

Improve performance (safe for caching and memory sharing)

Ensure data security

Avoid bugs from unintended changes

11. What advantages do dictionaries offer over lists for certain tasks?  
Fast lookup by key (O(1) vs O(n))

More meaningful indexing using keys

Better for structured data (e.g., records)

12. Describe a scenario where using a tuple would be preferable over a list.  
Use a tuple when:

Data should not change (e.g., coordinates (x, y))

You need a dictionary key

For better performance

14. How do sets handle duplicate values in Python?  
Sets automatically remove duplicates:

In [7]:
s = {1, 2, 2, 3}
print(s)  # {1, 2, 3}

{1, 2, 3}

15. How does the “in” keyword work differently for lists and dictionaries?  
List: Checks if value exists → O(n)

Dictionary: Checks if key exists → O(1)

In [8]:
5 in [1,2,5]          # True
"name" in {"name":1}  # True

True

16. Can you modify the elements of a tuple? Explain why or why not.  
No. Tuples are immutable. You cannot change, add, or delete items.

In [9]:
t = (1, 2)
t[0] = 10  # Error!

TypeError: 'tuple' object does not support item assignment

17. What is a nested dictionary, and give an example of its use case.  
A nested dictionary has dictionaries as values.

In [10]:
student = {
  "name": "Arihant",
  "marks": {"math": 90, "eng": 85}
}

Use case: Storing structured data like records, JSON-like objects.

18. Describe the time complexity of accessing elements in a dictionary.  
Average-case: O(1) – Constant time

Worst-case: O(n) – Rare, due to hash collisions

19. In what situations are lists preferred over dictionaries?  
When order matters

When data is accessed by position

For simple sequences

Example:

In [11]:
names = ["Alice", "Bob"]  # Better as a list

20. Why are dictionaries considered unordered, and how does that affect data retrieval?  
Before Python 3.7, dictionaries were unordered.
From Python 3.7+, they maintain insertion order, but:

Retrieval is still key-based, not by position.

Not suitable for index-based access.

21. Explain the difference between a list and a dictionary in terms of data retrieval.  
List: Access by index → my_list[0]

Dict: Access by key → my_dict["name"]  
Dictionaries offer faster lookups if the key is known.

#practial question

1. Write a code to create a string with your name and print it

In [12]:
name = "Arihant"
print(name)

Arihant

2. Write a code to find the length of the string "Hello World"

In [13]:
text = "Hello World"
print(len(text))

11

3.  Write a code to slice the first 3 characters from the string "Python Programming"

In [14]:
text = "Python Programming"
print(text[:3])

Pyt

4.  Write a code to convert the string "hello" to uppercase

In [15]:
text = "hello"
print(text.upper())

HELLO

5.  Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [16]:
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

6.  Write a code to create a list with numbers 1 to 5 and print it

In [17]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [18]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [19]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [20]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

10.  Write a code to reverse the list [10, 20, 30, 40, 50]

In [21]:
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

11. 11. Create a tuple with the elements 100, 200, 300 and print it

In [22]:
t = (100, 200, 300)
print(t)

(100, 200, 300)

12. Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [23]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])  # Output: blue

blue

13. Find the minimum number in the tuple (10, 20, 5, 15)

In [24]:
nums = (10, 20, 5, 15)
print(min(nums))  # Output: 5

5

14. Find the index of "cat" in the tuple ('dog', 'cat', 'rabbit')

In [ ]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))  # Output: 1

15. Create a tuple with 3 fruits and check if "kiwi" is in it

In [25]:
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)  # Output: False

False

16. Create a set with the elements 'a', 'b', 'c' and print it

In [26]:
s = {'a', 'b', 'c'}
print(s)

{'b', 'a', 'c'}

17. Clear all elements from the set {1, 2, 3, 4, 5}

In [27]:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)  # Output: set()

set()

18. Remove the element 4 from the set {1, 2, 3, 4}

In [28]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)  # Output: {1, 2, 3}

{1, 2, 3}

19. Find the union of sets {1, 2, 3} and {3, 4, 5}

In [29]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

20. Find the intersection of sets {1, 2, 3} and {2, 3, 4}

In [30]:
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))  # Output: {2, 3}

{2, 3}

21. Create a dictionary with keys "name", "age", and "city", and print it

In [31]:
person = {"name": "Arihant", "age": 21, "city": "Delhi"}
print(person)

{'name': 'Arihant', 'age': 21, 'city': 'Delhi'}

22. Add key-value pair "country": "USA" to dictionary {'name': 'John', 'age': 25}

In [32]:
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Access the value of key "name" in {'name': 'Alice', 'age': 30}

In [33]:
person = {'name': 'Alice', 'age': 30}
print(person["name"])  # Output: Alice

Alice

24. Remove key "age" from {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [34]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop("age")
print(person)

{'name': 'Bob', 'city': 'New York'}

25. Check if key "city" exists in {'name': 'Alice', 'city': 'Paris'}

In [35]:
person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)  # Output: True

True

26. Create a list, a tuple, and a dictionary, and print them

In [36]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

27. Create a list of 5 random numbers between 1 and 100, sort, and print

In [37]:
import random
nums = random.sample(range(1, 101), 5)
nums.sort()
print(nums)

[6, 18, 25, 72, 81]

28. Create a list with strings and print element at third index

In [38]:
words = ["apple", "banana", "cherry", "date", "fig"]
print(words[3])  # Output: date

date

29. Combine two dictionaries and print the result

In [39]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Convert a list of strings into a set

In [ ]:
str_list = ["apple", "banana", "apple", "cherry"]
str_set = set(str_list)
print(str_set)  # Removes duplicates